#slika {
    padding: 10px;
    width: 200px;
    height: 220px;
    display: block;
    grid-row: auto;

}

m #t2 {
    size: 58px;
    display: i;
    color: aqua;
}


#cont {
    color: rgb(0, 74, 144);
}